/* BASIC */

body {
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    font-size: 16px;
    background-color: #E1E1E1;
    color: #373737;
}
a {
    color: #373737;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}


/* LAYOUT */

#header, #content {
    width: 100%; /* Media Query */
    margin: 0 auto;
    position: relative;
}
#navigation {
    position: relative;
}
#content {
    position: relative;
}


/* MODULE */

/* Modul: Farbige Icon Zeile (Header Zeile);*/
.menu-bar {
    height: 44px;
}
.menu-bar-skin {
    background-color: #1693A5;
    -webkit-box-shadow: 2px 2px 2px 0 #cccccc;
    box-shadow: 2px 2px 2px 0 #cccccc;
}

/* Module: Weisser Block */
.box{
    padding: 16px;
    margin: 16px;
}
.box-centered {
    text-align: center;
}
.box-skin {
    background-color: white;
    border-radius: 4px;
    -webkit-box-shadow: 2px 2px 2px 0 #cccccc;
    box-shadow: 2px 2px 2px 0 #cccccc;
}

/* Module: Modal Fenster */
.modal {
    z-index: 99999;
    position: relative;
    margin: 10% auto;
    padding: 1em;
    width: 80%; /* Media Query */
}
.modal-skin {
    background-color: #D1D1D1;
    border-radius: 4px;
}
.modal-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.modal-bg-skin {
    background: rgba(0,0,0,0.8);
}


/* Module: Tabs */
.tab {
    display: inline-block;
    width: 40%;
    text-align: center;
    padding: 0.4em 0;
}
.tab-skin {
    font-size: 14px;
    font-weight: bold;
    color: #373737;
    background-color: #F2F2F2;
    -webkit-box-shadow: 1px 1px 1px 0 #cccccc;
    box-shadow: 1px 1px 1px 0 #cccccc;
}
.tab-skin:first-child{
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px; 
}
.tab-skin:last-child{
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px; 
}
.tab-skin-active, .tab:hover {
    color: #F2F2F2;
    background-color: #D1D1D1;
    text-decoration: none;
}

/*Module: Tabelle*/
.datatable {
    width: 100%;
}
.datatable-data {
    padding: 0.2em;
}
.datatable-data-skin {
    border-bottom: 1px solid #C7C7C7;
}
.datatable-data-right-skin {
    text-align: right;
}
.datatable-headline {
    padding: 0.3em;
}
.datatable-headline-skin {
    border-bottom: 2px solid #C7C7C7;
}
.datatable-row {}
.datatable-row-skin {}
.datatable-row-skin:nth-child(even) {
    background-color: #F5F5F5;
}
.datatable-row-skin:hover {
    background-color: #1693A5;
    color: #FFFFFF;
}

/* Module: Icon Bar */
.icon-bar {
    display: inline-block;
    position: absolute;
}
.icon-bar-left {
    left: 16px;
}
.icon-bar-right {
    right: 16px
}
.icon {
    display: inline-block;
    width: 44px;
    padding: 0.3em 0;
    text-align: center;
}
.icon-skin {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 22px;
}
.icon-skin:hover {
    color: #57D6E9;
}

/* Module: Extende Form */
.extended-form {
    padding: 1em;
    margin-bottom: 1em;
    border: 1px solid;
}

.extended-form-skin {
    border-color: #CCCCCC;
}

.toggle-extended {
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}

/* Module: Fehlermeldung; */
.inputError {
    border-color: red;
}

.error {
    color: red;
}

.errorBorder {
    border: 1px solid red;
}

/* Module: Logo */
.logo-skin {
    font-size: 44px;
    color: #373737;

}

/*Module: Formulare*/
select, input, textarea {
    display: block;
    width: 90%; /*Media Query*/
    margin-bottom: 1em;
    font-size: 1.5em; /* Media Query */
}

/*INIT PAGE*/

/* Templates with init CSS */
/* - index.html */
/* - add. html */

/* Module: Button Matrix */
#selectable .ui-selecting { background: #1693A5; }
#selectable .ui-selected { background: #1693A5; color: white; }
#selectable {
    list-style-type: none;
    widht: 100%;
    margin: 1.5em 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
}
#selectable li { 
    margin: 1.0em; /*Media Query */
    padding: 1em 0.4em; /*Media Query */
    font-size: 0.8em;
    text-align: center;
    width: 35%; /*Media Query*/
    border-radius: 4px;
    -webkit-box-shadow: 2px 2px 2px 0 #cccccc;
    box-shadow: 2px 2px 2px 0 #cccccc;
    border: 1px solid #cccccc;
}


/* Module: Taglist */
.taglist {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
}

.taglist-skin {
    font-size: 0.8em;
}

.taglist-item {
    margin: 1em; /*Media Query */
    padding: 1em 0.4em; /*Media Query */
    width: 35%; /* Media Query */
    border-radius: 4px;
    -webkit-box-shadow: 2px 2px 2px 0 #cccccc;
    box-shadow: 2px 2px 2px 0 #cccccc;
    border: 1px solid #cccccc;
}

.taglist-item-skin {
    text-align: center;
}


/*Module: Autocomplet */
.ui-autocomplete {
    background-color: white;
    border: 1px solid #cccccc;
}

.ui-autocomplete li {
}

.ui-autocomplete li:hover {
    color: white;
    background-color: #1693A5;
}

/* Responsive */
@media screen and (min-width: 640px) {
    /* iPhone */
    /* Hier kommen die Werte für den Desktop hin. Für mobile stehen sie oben */
    #header, #content {
        width: 640px;
    }
    .modal {
        width: 250px;
    }
    select, input, textarea {
        font-size: 1em;
        margin-bottom: 0.5em;
        width: 90%;
    }
    #selectable li {
        width: 18%;
        padding: 0.4em;
        margin: 0.4em; 
    }
    .taglist-item {
        width: 18%;
        padding: 0.4em;
        margin: 0.4em; 
    }
}



