{% extends "base.html" %}

{% block nav %}{{ super() }}{% endblock %}

{% block styles%}
    <style type="text/css">
        #extended-form-section {
            display: none;
        }
        #toggle-extended-control .fa-minus-square-o {
            display: none;
    }
    </style>
{% endblock %}

{% block content %}
    <section class="box box-skin">
        <form id="add-form" method="post">
            <label id="labelAmount">
                Betrag:
                <input type="number" name="amount" id="amount" min="0" step="0.01" required value="{{amount_val}}">
            </label>
           <label id="labelCategory">
                Category 
                <select name="category" id="category">
                    {% for category in categories %}

                    <option value="{{category.key().id()}}" {%if category.key().id() == category_val %}selected{% endif %}>{{category.name | safe}}</option>
                    {% endfor %}
                </select>
            </label>             
            <label id="labelDate">
                Datum (dd.mm.jjjj):
                <input name="date" id="date" required value="{{date}}">
            </label>
            <nav id="toggle-extended-control" class="toggle-extended">
                <a href="" id="toggle-extended-form"><i class="fa fa-plus-square-o"></i><i class="fa fa-minus-square-o"></i>&nbsp;Mehr Eingaben</a>
            </nav>
            <section id="extended-form-section" class="extended-form extended-form-skin"> 
                <label>
                    Empfänger:
                    <input type="text" name="recipient" id="recipient" value="{{recipient_val}}">
                </label>
                <label>
                    Kommentar:
                    <textarea name="comment" rows="2">{{comment_val}}</textarea>
                </label>
            </section>
            <input type="submit" value="senden">
        </form>   
    </section>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        $(document).ready(function() {

            $("#toggle-extended-form").click(function(event) {
                $("#extended-form-section").toggle();
                $("#toggle-extended-control .fa").toggle();
                event.preventDefault();
            });

            // Add autocomplete
            $.getJSON('/recipient.json', function(data) {
                data = $.map(data, function(e) {return e.label});
           
                $("#recipient").autocomplete({
                    source: data
                });
            });
        });
    </script>
{% endblock %}