<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Money</title>
        
        <link rel="apple-touch-icon" href="/static/apple-touch-icon-precomposed.png"/>
        <link rel="apple-touch-icon" sizes="72x72" href="/static/apple-touch-icon-72x72-precomposed.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="/static/apple-touch-icon-114x114-precomposed.png" />
        <link rel="apple-touch-icon" sizes="144x144" href="/static/apple-touch-icon-144x144-precomposed.png" />
        <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/static/normalize.css">
        <link rel="stylesheet" type="text/css" href="/static/styles.css">
        <link rel="stylesheet" type="text/css" href="/static/jquery-ui.min.css">
        <link rel="stylesheet" type="text/css" href="/static/jquery-ui.structure.min.css">
        <link rel="stylesheet" type="text/css" href="/static/font-awesome-4.1.0/css/font-awesome.min.css">
        {% block styles %}{% endblock styles%}
     </html>

    <body>
        <header id="header">
            {% block nav %}
                 <nav id="navigation" class="menu-bar menu-bar-skin">
                    <div class="icon-bar icon-bar-left">
                        <a href="/add" class="icon icon-skin"><i class="fa fa-plus" id="add-element"></i></a>
                    </div>
                    <div class="icon-bar icon-bar-right">
                        <a href="/recipient" class="icon icon-skin"><i class="fa fa-shopping-cart"></i></a>
                        <a href="/category" class="icon icon-skin"><i class="fa fa-tag"></i></a>
                        <a href="/csv" class="icon icon-skin"><i class="fa fa-file-excel-o"></i></a>
                        <a href="/" class="icon icon-skin"><i class="fa fa-table"></i></a>
                        <a href="{{ logout_url() }}" class="icon icon-skin"><i class="fa fa-power-off"></i></a>
                    </div>
                </nav>
            {% endblock nav %}
        </header>
        <section id="content">
            {% block content %}{% endblock content %}
        </section>
      
        <script type="text/javascript" src="/static/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="/static/jquery-ui.min.js"></script>
        <script type="text/javascript" src="/static/scripts.js"></script>

        {% block script %}{% endblock script %}
    </body>
<html>