{% extends "base.html" %}

{% block nav %}{{ super() }}{% endblock %}

{% block content %}
    <section class="box box-skin">
        <h2>Kategorien</h2>
        <ul class="taglist taglist-skin" id="category-list">
            {% for category in categories %}
                <li class="taglist-item taglist-item-skin">{{category.name}}&nbsp;<a href="/category/_del/{{category.key().id()}}" class="deletelink"><i class="fa fa-trash-o"></i></a></li>
            {% endfor %}
        </ul>
        <h2>Eintrag hinzuf&uuml;gen</h2>
        {% if error_msg %}
            <div class="error">
                <p>{{error_msg}}</p>
            </div>
        {% endif %}
        <form id="add_form" method="post">
            <label id="labelName">
                Name:
                <input type="text" name="name" id="name" value="">
            </label>
            <input type="submit" value="senden">
        </form>
    </section>
{% endblock %}

{%block script %}
<script type="text/javascript">
    $(document).ready(function() {
        confirm_delete("#category-list .deletelink");
    });
</script>
{% endblock %}