{% extends "base.html" %}

{% block nav %}{{ super() }}{% endblock %}

{% block styles%}
<style type="text/css">
    /* Init page */
    .showdetails .fa-minus-square-o {
        display: none;
    }
</style>
{% endblock %}

{% block content %}
    <section class="box box-skin">
        <table id="entry-table" class="datatable">
            <thead>
                <tr>
                    <th class="datatable-headline datatable-headline-skin">&nbsp;</th>
                    <th class="datatable-headline datatable-headline-skin">Betrag</td>
                    <th class="datatable-headline datatable-headline-skin">Category</td>
                    <th class="datatable-headline datatable-headline-skin">Datum</td>
                    <th class="datatable-headline datatable-headline-skin">&nbsp;</td>
                </tr>
            </thead>
            <tbody>
            {% for entry in entries %}  
                <tr class='datatable-row datatable-row-skin' id="{{entry.key().id()}}" >
                    <td class='datatable-data datatable-data-skin'><a href="" class="showdetails"><i class="fa fa-plus-square-o"></i><i class="fa fa-minus-square-o"></i></a></td>
                    <td class='datatable-data datatable-data-skin datatable-data-right-skin'>{{entry.amount | currencyformat | safe}}</td>
                    <td class='datatable-data datatable-data-skin'>{{entry.category.name}}</td>
                    <td class='datatable-data datatable-data-skin'>{{entry.date | dateformat}}</td>
                    <td class='datatable-data datatable-data-skin datatable-data-right-skin'><a href="/add/{{entry.key().id()}}" class="editlink"><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;<a href="/_del/{{entry.key().id()}}" class="deletelink"><i class="fa fa-trash-o"></i></a></td>
                </tr>
            {% endfor %}
            </tbody>    
        </table>
    </section>
{% endblock %}

{%block script %}
<script type="text/javascript">
    $(document).ready(function() {
        confirm_delete("#entry-table .deletelink");

        $(".showdetails").click(function(event) {
            event.preventDefault();
            show_details(event, "/entry/", generate_entry_html);
        }); 
    });
</script>
{% endblock %}