{% extends "base.html" %}

{% block nav %}{{ super() }}{% endblock %}

{% block styles %}
<style type="text/css">
    /* Init page */
    .showdetails .fa-minus-square-o {
        display: none;
    }
</style>
{% endblock %}

{% block content %}
    <section class="box box-skin">
        <h2>Empf&auml;nger</h2>
        <table id="entry-table" class="datatable">
            <thead>
                <tr>
                    <th class="datatable-headline datatable-headline-skin">&nbsp;</th>
                    <th class="datatable-headline datatable-headline-skin">Name</td>
                    <th class="datatable-headline datatable-headline-skin">&nbsp;</td>
                </tr>
            </thead>
            <tbody>
            {% for recipient in recipients %}
                <tr class='datatable-row datatable-row-skin' id="{{recipient.key().id()}}">
                    <td class='datatable-data datatable-data-skin'><a href="" class="showdetails"><i class="fa fa-plus-square-o"></i><i class="fa fa-minus-square-o"></i></a></td>
                    <td class='datatable-data datatable-data-skin'>{{recipient.name | safe}}</td>
                    <td class='datatable-data datatable-data-skin datatable-data-right-skin'><a href="" class="editlink"><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;<a href="/recipient/_del/{{recipient.key().id()}}" class="deletelink"><i class="fa fa-trash-o"></i></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <h2>Eintrag hinzuf&uuml;gen</h2>
            {% if error_msg %}
                <div class="error">
                    <p>{{error_msg}}</p>
                </div>
            {% endif %}
            <form id="add_form" method="post">
                <label id="labelName">
                    Name:
                    <input type="text" name="name" id="label" value="{{name_val}}" required>
                </label>
                <label id="labelAdress">
                    Adresse:
                    <input type="text" name="address" id="address" value="{{address_val}}">
                </label>
                <input type="hidden" name="item_id" id="item_id" value="{{item_id_val}}">
                <input type="submit" value="senden">

            </form>
    </section>
{% endblock %}

{%block script %}
<script type="text/javascript">
    $(document).ready(function() {
        confirm_delete(".deletelink");

        $(".showdetails").click(function(event) {
            event.preventDefault();
            show_details(event, "/recipient/", generate_recipient_html);
        }); 
        
        $(".editlink").click(function(event) {
            /* Act on the event */
            event.preventDefault();

            var id = $(event.target).parents(".datatable-row").attr('id');
            var url = "/recipient/" + id;
            $.getJSON(url, function(data) {
                $.each(data, function(key, val) {
                     $("#" + key).val(val);
                });
                $("#item_id").val(id);
            });
        });
    });
</script>
{% endblock %}