{% extends "base.html" %}

{% block nav %}{% endblock %}

{% block content %}
    <div id="startpage" class="box box-centered box-skin">
        <div class="logo-skin">Money</div>
        <p><a href="{{ login_url() }}">Login</a></p>    
    </div>
{% endblock %}

{% block script %}{% endblock %}